.footer {
	background-color: #011c44;
	position: relative;
	overflow: hidden;

	&::after {
		content: '';
		position: absolute;
		background-image: url(../img/makeup.png);
		width: 278px;
		height: 213px;
		bottom: -61px;
		right: -31px;
		background-repeat: no-repeat;

		@media screen and (max-width: $bp-tablet) {
			display: none;
		}
	}

	&__container {
		display: flex;
		justify-content: center;
		align-items: stretch;
		flex-wrap: wrap;
		gap: 56px;
		padding: 56px 0;

		@media screen and (max-width: $bp-tablet) {
			display: flex;
			flex-direction: column;
			gap: 16px;
		}
	}

	&__nav-logo {
		display: flex;
		justify-content: space-around;
		margin: 0;
		padding: 0;
		gap: 50px;
		flex-grow: 1;

		@media screen and (max-width: $bp-tablet) {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 42px;
		}
	}

	&__nav .link {
		color: #fff;
		@media screen and (max-width: $bp-tablet) {
			margin: 0 auto;
		}
	}

	&__nav .link:hover {
		color: var(--color-primary);
		transition: color 0.3s;
		cursor: pointer;
	}

	&__style-block {
		padding: 0;
		margin: 0;
		display: flex;
		width: 192px;
		flex-direction: column;
		align-items: flex-start;
		gap: 16px;
	}

	&__style-contact-block {
		@media screen and (max-width: $bp-tablet) {
			position: absolute;
			left: -10000px;
			top: auto;
			width: 1px;
			height: 1px;
			overflow: hidden;
		}
	}

	&__address {
		display: flex;
		justify-content: space-around;
		flex-grow: 1;
		margin: 0;
		padding: 0;
		gap: 50px;

		@media screen and (max-width: $bp-tablet) {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 16px;
		}
	}

	&__contact {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	&__address-link {
		font-size: 16px;
		text-decoration: none;
		color: var(--color-white);

		@media screen and (max-width: $bp-tablet) {
			text-align: center;
		}
	}

	&__address-link:hover {
		color: var(--color-primary);
		transition: color 0.3s;
	}

	&__icon-container {
		display: flex;
		column-gap: 24px;

		@media screen and (max-width: $bp-tablet) {
			column-gap: 20px;
		}
	}

	&__icon {
		fill: #fff;
	}

	&__copyright {
		font-size: 13px;
		font-weight: 400;
		color: #747272;

		@media screen and (max-width: $bp-tablet) {
			margin: 0 auto;
		}
	}
}
